swiper-container {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-lesson-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-img {
    flex: 0.5;
  }

  div {
    flex: 0.4;
    text-align: center;
    font-size: 2rem;
  }
}

.letter {
  font-size: 4rem;
}

.multi-choice-container {
  width: 100%;
}

.instruction-text {
  margin-left: 2rem;
}

ion-radio-group {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  width: 100%;
}

.ion-item {
  overflow-y: visible
}

.radio-label {
  font-size: 2rem;
}

ion-radio::part(container) {
  width: 30px;
  height: 30px;

  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio {
  pointer-events: auto;
}

ion-radio.radio-checked::part(container) {
  background: var(--ion-color-primary);
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

.retry-text {
  color: var(--ion-color-medium);
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  pointer-events: auto;
}

.good-job-text {
  color: var(--ion-color-success);
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  pointer-events: auto;
}

.next-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  pointer-events: auto;
}

.volume-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  pointer-events: auto;
}
