<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{language}}{{level}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{language}}{{level}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-card *ngFor="let step of steps">
        <ion-card-header>
          <ion-card-title>{{step.title}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
