<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="primary">
      Language Pal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary"> Language Pal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="header-text">Welcome to your Language learning Pal</h1>
    <p>The app that will take your language skills to the moon!</p>
    <ion-button class="learn-button" fill="solid" [routerLink]="'/languages'" size="large">
      Start Learning
    </ion-button>
    <ion-img [routerLink]="'/profile'" class="profile-button" src="assets/images/user-unsplash.jpg" alt="user-image" />
  </div>
</ion-content>
