<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="primary">
      Language Pal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary"> Language Pal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="header-text">I want to learn...</div>
    <ion-list>
      <ion-button class="language-button" *ngFor="let language of languages" [disabled]="language.code !== 'en'"
        [fill]="language.code === selectedLanguage ? 'solid' : 'outline' "
        (click)="select(language.code)">{{language.name}}</ion-button>
    </ion-list>
    <ion-button class="next-button" fill="solid" [routerLink]="'/language/' + selectedLanguage"
      [disabled]="!selectedLanguage">
      Next
    </ion-button>
  </div>
</ion-content>
