<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="primary">{{language?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="primary">{{language?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="header-text">Choose your level...</div>
    <ion-list>
      <ion-button class="level-button" *ngFor="let level of levels" [disabled]="level.id !== 0"
        [fill]="level.id === selectedLevel ? 'solid' : 'outline' "
        (click)="select(level.id)">{{level.title}}</ion-button>
    </ion-list>
    <ion-button class="next-button" fill="solid" [routerLink]="'/level/' + language?.code + '/' + selectedLevel"
      [disabled]="selectedLevel === undefined">
      Next
    </ion-button>
  </div>
</ion-content>
